SECRET=changeme
DEBUG=1

ORIGINS=*
BASE_URL=http://localhost:5173
MEDIA_PATH=./media
FE_DASHBOARD_PATH=/app

# DB

DB_URL=sqlite.db

# Redis; async task queue
# REDIS_HOST=
# REDIS_PORT=
REDIS_DB_ASYNQ=5
REDIS_PASS=RedisPassword

# SMTP
# ## Ethereal
# SMTP_HOST=smtp.ethereal.email
# SMTP_PORT=587
# SMTP_STARTTLS=1
SMTP_USERNAME=send@some.email
# SMTP_PASSWORD=SgjaMkkgHbaucxaGC7

# ## Localhost: run smtp server `make smtp-test`
SMTP_HOST=localhost
# SMTP_PORT=1578
#SMTP_HOST=mailhog
SMTP_PORT=1025
# SMTP_STARTTLS=
# SMTP_USERNAME=
# SMTP_PASSWORD=

# OAuth2
# OAUTH_GITHUB_CLIENT_ID=
# OAUTH_GITHUB_CLIENT_SECRET=
# OAUTH_GOOGLE_CLIENT_ID=
# OAUTH_GOOGLE_CLIENT_SECRET=
